

  <ul class="nav container-fluid nav-pills nav-fill d-flex flex-nowrap px-0">

    <li class="nav-item px-0">
      <a href="#connections" data-toggle="tab" role="tab" class="nav-link active">Connections</a>
    </li>
    <li class="nav-item px-0">
      <a href="#buddies" data-toggle="tab" role="tab" class="nav-link">Buddies</a>
    </li>
<!--     <li class="nav-item px-0">
      <a href="#requests" data-toggle="tab" role="tab" class="nav-link">Requests</a>
    </li> -->
    <li class="nav-item px-0">
      <a href="#buddyof" data-toggle="tab" role="tab" class="nav-link">Spotting</a>
    </li>
    <li class="nav-item px-0">
      <a href="#fans" data-toggle="tab" role="tab" class="nav-link">Fans</a>
    </li>
  </ul>

</div>

  <div class="tab-content" style="text-align:center">
    <div role="tab-panel" class="tab-pane active" id="connections">
      <div class="cards">
        <% @connections.each do |connection| %>
          <p><%= connection.buddy.firstname %> <%= connection.buddy.lastname %> </p>
          <%= simple_form_for(@goal_connection, url: goal_connections_path) do |f| %>
          <%= f.input :goal, collection: current_user.goals %>
          <%= f.input :connection, as: :hidden, input_html: { value: connection.id} %>
          <%= f.submit "add as a buddy" %>
          <% end %>

        <% end %>
      </div>
    </div>

      <div role="tab-panel" class="tab-pane" id="buddies">
      <div class="cards">
       <% @buddies.each do |buddy| %>
          <p><%= buddy.firstname %> <%= buddy.lastname %></p>
        <% end %>
      </div>
    </div>

    <div role="tab-panel" class="tab-pane" id="buddyof">
      <div class="cards">
        <% @buddyofs.each do |buddy| %>
          <p><%= buddy.firstname %> <%= buddy.lastname %></p>
           <% buddy.goals.each do |goal| %>
            <p>Goal: <%= goal.title %></p>
            <% end %>
        <% end %>
      </div>
    </div>

    <div role="tab-panel" class="tab-pane" id="fans">
       <div class="cards">
        <% @fans.each do |fan| %>
          <p><%= fan.owner.firstname %> <%= fan.owner.lastname %></p>
        <% end %>

      </div>
    </div>


