<h4>CHECKLIST
<ul>
  <li># Users: julien, joel, vandita, claire</li>
  <li># Goals: Goal 1 - julien (joel), Goal 2 - julien(claire), Goal 3 - claire(julien)</li>
  <li># Connections: joel, claire, vandita</li>
  <li># Buddy: joel, vandita</li>
  <li># Buddyof: claire</li>
  <li># Fans: claire, vandita</li>
</ul>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#connections" data-toggle="tab" role="tab" class="nav-link active">Connections</a>
  </li>
  <li class="nav-item">
    <a href="#buddies" data-toggle="tab" role="tab" class="nav-link">Buddies</a>
  </li>
  <li class="nav-item">
    <a href="#buddyof" data-toggle="tab" role="tab" class="nav-link">Supporting</a>
  </li>
  <li class="nav-item">
    <a href="#fans" data-toggle="tab" role="tab" class="nav-link">Fans</a>
  </li>

<div class="tab-content">
  <div role="tab-panel" class="tab-pane active" id="connections">
    <div class="cards">
      <% @connections.each do |connection| %>
        <li><%= connection.buddy.firstname %> <%= connection.buddy.lastname %></li>
      <% end %>
    </div>
  </div>

  <div role="tab-panel" class="tab-pane" id="buddies">
    <div class="cards">
     <% @buddies.each do |buddy| %>
        <li><%= buddy.firstname %> <%= buddy.lastname %></li>
      <% end %>
    </div>
  </div>

  <div role="tab-panel" class="tab-pane" id="buddyof">
    <div class="cards">
      <% @buddyofs.each do |buddy| %>
        <li><%= buddy.firstname %> <%= buddy.lastname %></li>
      <% end %>
    </div>
  </div>

  <div role="tab-panel" class="tab-pane" id="fans">
     <div class="cards">
      <% @fans.each do |fan| %>
        <li><%= fan.owner.firstname %> <%= fan.owner.lastname %></li>
      <% end %>

    </div>
  </div>

  <% raise %>
