    <div role="tab-panel" class="tab-pane" id="requests">
      <div class="cards">
       <% @requests.each do |request| %>
            <p><%= request.goal.owner.firstname %> wants you to be their buddy on their goal to <%= request.goal.title %></p>
            <%= form_for request, remote: true do |f| %>
              <%= f.hidden_field :status, value: "Accepted" %>
              <button class="btn btn-success" type="submit">
                Accept
              </button>
            <% end %>
            <%= form_for request, remote: true do |f| %>
              <%= f.hidden_field :status, value: "Declined" %>
              <button class="btn btn-danger" type="submit">
                Decline
              </button>
            <% end %>
        <% end %>
      </div>
    </div>
