<div class="container">
<h4 style="text-align:center;">Let's create some milestones for your goal!</h4>
<div id="milestones_template">
    <% if @goal.title.include? "blog" %>
        <%= render partial: "shared/milestones_template", locals: { template: @goal.blog_template, goal: @goal } %>
    <% elsif @goal.title.include? "vacay" %>
        <%= render partial: "shared/milestones_template", locals: { template: @goal.vacation_template, goal: @goal } %>
    <% elsif @goal.title.include? "marathon" %>
        <%= render partial: "shared/milestones_template", locals: { template: @goal.marathon_template, goal: @goal } %>
    <% elsif @goal.title.include? "one" %>
        <%= render partial: "shared/milestones_template", locals: { template: @goal.dating_template, goal: @goal } %>
    <% else %>
        <%= render partial: "shared/empty_milestones_template", locals: { goal: @goal } %>
    <% end %>
    
</div>
</div>