<h1>Profile page</h1>

<div class="container">
    <h1><%= @user.firstname %></h1>
    <h6><%= @user.lastname %></h6>
    <p>Email: <%= @user.email %></p>
    <p>Number of goals: <strong><%= @user.goals.size %></strong></p>
    <% @user.goals.each do |goal| %>
    <div class="container">
        <%= link_to edit_user_registration_path(goal) do %>
            <%= goal.title %>
            <%= goal.description %>
            <%= goal.status %>
            <%= goal.progress %>
            <% end %>
        </div>
    <% end %>
</div>