<% if !current_user.nil? %>
<div id="add_buddy_form">
<div class="modal fade" id="add_buddy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center;" id="exampleModalLabel">You don't have any-buddy to hold you accountable!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:center;">
        <p style="text-align: center;">If you really want to <%= goal.title.downcase %>, you're going to need someone to keep you going.</p>
        <br>
        <br>
        <%= simple_form_for goal_connection do |f| %>
            <%= f.input :connection, label_method: ->(obj){ obj.buddy.firstname }, collection: current_user.owner_connections, label: "Pick a buddy from your connections" %>
            <%= f.input :goal, as: :hidden, input_html: { value: goal.id } %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
        <br>
        <!-- Target -->
        <textarea id="bar" style="display:none;"><%= request.original_url() %></textarea>
        <!-- Trigger -->
        <p>Or if you're not connected to your buddy yet:</p>
        <button class="btn btn-primary" id="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
            Copy invite link
        </button>
      </div>

    </div>
  </div>
</div>
</div>

<% end %>
