
<% goal = @goal.blog_template %>
<div class="container">
<h3>It's time to finally launch that blog!</h3>
<%= simple_form_for (goal), remote: true do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="icons">
          <label for="goal_icon">Icon:</label>
          <fieldset>
            <input type="radio" class="radio_item" id="heart" name="goal[icon]" value="heart" <%= "checked" if @goal.icon == "heart" %>><label class="label_item" for="heart"><i class="fa fa-heart"></i></label>
            <input type="radio" class="radio_item" id="trophy" name="goal[icon]" value="trophy" <%= "checked" if @goal.icon == "trophy" %> ><label class="label_item" for="trophy"><i class="fas fa-trophy"></i></label>
            <input type="radio" class="radio_item" id="star" name="goal[icon]" value="star" <%= "checked" if @goal.icon == "star" %> ><label class="label_item" for="star"><i class="fas fa-star"></i></label>
            <input type="radio" class="radio_item" id="suitcase" name="goal[icon]" value="suitcase" <%= "checked" if @goal.icon == "suitcase" %> ><label class="label_item" for="suitcase"><i class="fas fa-suitcase"></i></label>
            <input type="radio" class="radio_item" id="book" name="goal[icon]" value="book" <%= "checked" if @goal.icon == "book" %>><label class="label_item" for="book"><i class="fas fa-book"></i></label>
            <input type="radio" class="radio_item" id="laptop" name="goal[icon]" value="laptop" <%= "checked" if @goal.icon == "laptop" %>><label class="label_item" for="laptop"><i class="fas fa-laptop-code"></i></label>
          </fieldset>
        </div>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :deadline, as: :date, html5: true %>

    <%= f.button :submit, "Create goal", id: "create", class: "btn btn-primary" %>
  <% end %>

  <!-- get the ids & info of existing buddy connections -->
  <!-- data of our buddy : current_user.connections.first.id / name -->
  <!-- current_user.connections.first is a user / name -->
  <div id="milestones">
  <br><br>
    <h5>Let's add some milestones!</h5>
    <% goal.milestones.each do |milestone| %>
  <%= simple_form_for milestone do |m| %>
      <%= m.input :name %>
          <%= m.input :deadline, as: :date, html5: true %>
          <div class="form-group milestone_weightage form-group-valid">
            <label for="milestone_weightage">Weightage<abbr title="required">*</abbr></label>
            <div class="star-rating">
              <fieldset>
                <input type="radio" id="star-<%=milestone.id%>-5" name="milestone[weightage]" value=5 <%= "checked" if milestone.weightage == 5 %> ><label for="star-<%=milestone.id%>-5" title="5"></label>
                <input type="radio" id="star-<%=milestone.id%>-4" name="milestone[weightage]" value=4 <%= "checked" if milestone.weightage == 4 %>><label for="star-<%=milestone.id%>-4" title="4"></label>
                <input type="radio" id="star-<%=milestone.id%>-3" name="milestone[weightage]" value=3 <%= "checked" if milestone.weightage == 3 %>><label for="star-<%=milestone.id%>-3" title="3"></label>
                <input type="radio" id="star-<%=milestone.id%>-2" name="milestone[weightage]" value=2 <%= "checked" if milestone.weightage == 2 %>><label for="star-<%=milestone.id%>-2" title="2"></label>
                <input type="radio" id="star-<%=milestone.id%>-1" name="milestone[weightage]" value=1 <%= "checked" if milestone.weightage == 1 %>><label for="star-<%=milestone.id%>-1" title="1"></label>
              </fieldset>
            </div>
          </div>
  <% end %>
  <% end %>
</div>


</div>
