
<div class="cards grid-gap-cards">

    <% @goals.each do |goal| %>
        <div class="card shadow-sm m-0 border-bottom">

            <%= link_to goal_path(goal), method: 'GET' do%>
            <div class="card-body text-dark bg-light">
                    <div class="d-flex text-dark">
                        <h4 class="my-0"><i class="fa fa-<%= goal.icon %> mb-3 icon-yellow"></i></h4>
                        <h4 class="my-0 ml-3"> <%= goal.title %></h4>
                    </div>
                    <%# description not necessary? %>
                    <%# <h6 class='card-subtitle mb-2 d-flex text-dark text-left'><%= goal.description </h6> %>
                    <%#  %>
                    <% if goal.status != "Past" %>
                        <p class="card-text text-dark d-flex"><strong><%= (goal.deadline - Date.today).to_i %></strong> &nbsp;days to go until the deadline!</p>
                    <% else%>
                        <p class="card-text text-dark d-flex">Ended <%= (Date.today - goal.deadline).to_i %> day(s) ago</p>
                    <% end %>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow=<%=goal.progress%> aria-valuemin="0" aria-valuemax="100" style="width:<%=goal.progress%>%"></div>
                    </div>
                    <p class="card-text mt-1 text-dark"><%= goal.status %></p>
            <% end %>

                <% if goal.status == "In Progress" || goal.status == "Not Started" %>
                    <% if goal.get_latest %>
                        <div class="card-subtitle mt-2 p-2 border border-secondary" style=" border-radius:2px;">
                            <% milestone = goal.get_latest %>
                            <div class="d-flex justify-content-around">
                                <%= render partial: 'shared/completion_message', locals: { milestone: milestone, completion_message: @completion_message } %>
                                Upcoming: <%= milestone.name %> <br>by <%= milestone.deadline.strftime("%A, %-d/%-m/%y")%>
                                <button class="btn text-dark" id="completion" data-toggle="modal" data-target="#completion-<%=milestone.id%>"><i class="far fa-square completion-pink"></i></button>
                            </div>
                        </div>
                    <% end %>
     
                <% end %>
            </div>

        </div>
    <% end %>
    
</div>