
<% if @milestones.empty? %>
    <div class="card shadow mb-0">
        <div class="card-body">

            <div class="container d-flex align-items-center justify-content-center px-0 text-dark"><strong>You have no milestones yet, time to add some!</strong></div>

        </div>
    </div>


<% else %>

    <div class="cards rounded">

            <% @milestones.each do |milestone| %>
                <div class="card shadow-sm my-0 rounded">
                <div class="card-body bg-light text-dark rounded">

                    <div class="container d-flex align-items-center px-0">
                        <% if milestone.is_completed %>
                            <%= form_for milestone, remote: true do |f| %>
                                <%= f.hidden_field :is_completed, value: false %>


                                <button class="btn" type="submit">
                                    <i class="far fa-check-square"></i>
                                </button>

                            <% end %>
                        <% else %>
                        <%# completion modal %>
                          <% if policy(@goal).edit? %>
                            <button class="btn" id="completion" data-toggle="modal" data-target="#completion-<%=milestone.id%>">
                                <i class="far fa-square"></i>
                            </button>
                            <%= render partial: 'shared/completion_message', locals: { milestone: milestone, completion_message: @completion_message } %>
                          <% end %>
                        <% end %>
                        
                        <div class="flex-grow-1 justify-content-center">
                                <h4 class="mb-0"><%= milestone.name %></h4>

                                <div class="stars">
                                    <% milestone.weightage.times do %>
                                        <i class="fas fa-star icon-yellow"></i>
                                    <% end %>
                                    <% (5 - milestone.weightage).times do %>
                                    <i class="far fa-star icon-yellow"></i>
                                    <% end %>
                                </div>
                            <p class='card-subtitle mt-1'> <%= milestone.deadline.strftime("%A, %-d/%-m/%y") %></p>
                            <%# edit modal %>
                        <% if policy(@goal).edit? %>
                            <a id="edit" href="blank" data-toggle="modal" data-target="#edit-<%=milestone.id%>">
                                <p>Update&nbsp;<i class="far fa-edit"></i></p>
                            </a>
                            <%= render partial: "shared/milestones_edit_form", locals: {milestone: milestone} %>
                        <% end %>
                        </div>
                    </div>
                        <% if milestone.is_completed %>
                        <h6 class="mb-0 mt-1 border" id="completion-bubble"><%= milestone.completion_message.content %></h6>
                        <% end %>
                </div>
                </div>

            <% end %>

    </div>
<% end %>

    <% if policy(@goal).edit? %>

      <div class="container d-flex justify-content-center mt-3">
        <a id="milestone-add" href="blank" data-toggle="modal" data-target="#new-milestone" >
          <i id="add-milestone" class="fas fa-plus justify-content-center"></i>
        </a>
      </div>

    <%# Modal for a new milestone: + sign %>
    <%= render partial: "shared/new_milestone", locals: {goal: @goal, milestone: Milestone.new} %>
  <% end %>
