
<div class="container">
<%= simple_form_for @goal do |f| %>
  <%= f.input :title, label: 'Give it a name', error: 'Name is mandatory, please specify one' %>
  <%= f.input :description, label: 'Describe what you want to achieve', hint: '250 char. max' %>

<fieldset >
  <input type="radio" name="goal[icon]" value="heart" ><label><i class="fa fa-heart"></i></label>
  <input type="radio" name="goal[icon]" value="suitcase" ><label><i class="fa fa-suitcase"></i></label>
</fieldset>

  <%= f.input :start_date, as: :date, input_html: { value: Date.today } %>
  <%= f.input :deadline, as: :date %>

  <%= f.hidden_field :progress, value: 0.0 %>
  <!-- get the ids & info of existing buddy connections -->
  <!-- data of our buddy : current_user.connections.first.id / name -->
  <!-- current_user.connections.first is a user / name -->
  <%= f.button :submit %>
 <% end %>
</div>
