<div class="modal fade" id="new-milestone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a milestone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@goal, milestone], remote: true do |f| %>
          <%= f.input :name %>
          <%= f.input :deadline, as: :date, html5: true %>
          <div class="form-group milestone_weightage form-group-valid">
            <label for="milestone_weightage">Weightage<abbr title="required">*</abbr></label>
            <div class="star-rating">
              <fieldset>
                <input type="radio" id="star-<%=milestone.id%>-5" name="milestone[weightage]" value=5 ><label for="star-<%=milestone.id%>-5" title="5"></label>
                <input type="radio" id="star-<%=milestone.id%>-4" name="milestone[weightage]" value=4 ><label for="star-<%=milestone.id%>-4" title="4"></label>
                <input type="radio" id="star-<%=milestone.id%>-3" name="milestone[weightage]" value=3 ><label for="star-<%=milestone.id%>-3" title="3"></label>
                <input type="radio" id="star-<%=milestone.id%>-2" name="milestone[weightage]" value=2 ><label for="star-<%=milestone.id%>-2" title="2"></label>
                <input type="radio" id="star-<%=milestone.id%>-1" name="milestone[weightage]" value=1 ><label for="star-<%=milestone.id%>-1" title="1"></label>
              </fieldset>
            </div>
          </div>
          <%= f.button :submit, "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
