<div class="navbar-container">
  <div class="navbar">
    <%= link_to root_path do %>
      <%= image_tag "logoname.png", class: "logoname", alt: "logo RentaHero" %>
    <% end %>

    <%= render "shared/search_form" %>

    <% if user_signed_in? %>
      <div class="nav-item dropdown d-flex">
        <div class= "username mr-3"><%= current_user.name%></div>
        <%= image_tag "herocart.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
