<%
# this is a function needed below that we're not sure where to put yet... 
def get_latest(goal)
  incomplete = goal.milestones.where(is_completed: false)
  sorted = incomplete.sort_by &:deadline
  return sorted.first
end
 %>
<div class="container">
<h1>Here are all your goals, <%= current_user.name %></h1>
  <% if @goals.empty? %>
  <%= "No goals yet...!" %>
  <%= link_to new_goal_path, "Let's get goaling!" %>
  <% else %>
  <% @goals.each do |goal| %>
  <ul>
    <li>Title: <%= goal.title %></li>
    <li>Buddy: </li>
    <li>Description: <%= goal.description %></li>
    <% if goal.status != "Completed" %>
      <li><%= (goal.deadline - Date.today).to_i %> days to go until the deadline!</li>
      <li>Progress: <%= goal.progress.round() %>%</li>
    <% end %>
    <li>Status: <%= goal.status %></li>
    <% if goal.status == "In Progress" || goal.status == "Not Started" %>
      <% if get_latest(goal) %>
        <% milestone = get_latest(goal) %>
        <%= render partial:'shared/completion_message', locals: {milestone: milestone, completion_message: CompletionMessage.new} %>
        <li>Upcoming milestone: <%= milestone.name %> by <%= milestone.deadline.strftime("%A, %-d/%-m/%y") %></li>
        <%= form_for milestone, remote: true do |f| %>
          <%= f.hidden_field :is_completed, value: true %>
          <%= f.submit "Mark as complete", class: "btn btn-primary", "data-toggle": "modal", "data-target": "#completion" %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "View my goal", goal_path(goal), class: "btn btn-primary mb-5"%>
  <% end %>
<% end %>

</div>
