<div class="container">

<h1>Here are all your goals, <%= current_user.firstname %></h1>
  <% if @goals.empty? %>
  <%= "No goals yet...!" %>
  <%= link_to "Let's get goaling!", new_goal_path %>
  <% else %>
  <% @goals.each do |goal| %>
  <ul>
    <li><i class="fa fa-<%= goal.icon %>"></i> Title: <%= goal.title %></li>

   <!-- if no buddy => no buddy yet otherwise print buddy's name -->

    <li>Description: <%= goal.description %></li>
    <% if goal.status != "Past" %>
      <li><%= (goal.deadline - Date.today).to_i %> days to go until the deadline!</li>
     <% else%>
      <li>Ended <%= (Date.today - goal.deadline).to_i %> days ago</li>

    <% end %>

    <li>Progress: <%= goal.progress.round() %>%</li>
    <li>Status: <%= goal.status %></li>
    <% if goal.status == "In Progress" || goal.status == "Not Started" %>
      <% if goal.get_latest %>
        <% milestone = goal.get_latest %>
        <%= render partial: 'shared/completion_message', locals: { milestone: milestone, completion_message: @completion_message } %>
        <li>Upcoming milestone: <%= milestone.name %> by <%= milestone.deadline.strftime("%A, %-d/%-m/%y") %></li>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#completion" data-whatever="@mdo">Mark as complete</button>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "View my goal", goal_path(goal), class: "btn btn-primary mb-5"%>

  <%= link_to "Delete", {:controller => :goals,
      :action => 'destroy', :id => goal.id }, :method => :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-5" %>

  <% end %>

</br>

    <%= link_to "Add a goal", new_goal_path, class: "btn btn-primary mb-5" %>

<% end %>



</div>
