<div class="container">
  <h1>CREATE A GOAL</h1>

<%= simple_form_for @goal do |f| %>
  <%= f.input :title, label: 'Give it a name', error: 'Name is mandatory, please specify one' %>
  <%= f.input :description, label: 'Describe what you want to achieve', hint: '250 char. max' %>

  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :deadline, as: :date, html5: true %>

  <%= f.hidden_field :progress, value: 0.0 %>
  <!-- get the ids & info of existing buddy connections -->
  <!-- data of our buddy : current_user.connections.first.id / name -->
  <!-- current_user.connections.first is a user / name -->
  <%= f.button :submit %>
 <% end %>

</div>
