<div class="container">
  <h1>CREATE A GOAL</h1>



<%= simple_form_for @goal do |f| %>
  <%= f.input :title, label: 'Give it a name', error: 'Name is mandatory, please specify one' %>
  <%= f.input :description, label: 'Describe what you want to achieve', hint: '250 char. max' %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-trophy"></i><i class="fa fa-bri-ball"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" data-value="icon-1">
        <i class="fa fa-suitcase"></i>

      <a class="dropdown-item" href="#" data-value="icon-2">
        <i class="fa fa-donate"></i>

      <a class="dropdown-item" href="#" data-value="icon-3">
        <i class="fa fa-suitcase"></i>

      <a class="dropdown-item" href="#" data-value="icon-4">
        <i class="fa fa-suitcase"></i>

      <a class="dropdown-item" href="#" data-value="icon-5">
        <i class="fa fa-suitcase"></i>
    </div>
  </div>


  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :deadline, as: :date, html5: true %>

  <%= f.hidden_field :progress, value: 0.0 %>
  <!-- get the ids & info of existing buddy connections -->
  <!-- data of our buddy : current_user.connections.first.id / name -->
  <!-- current_user.connections.first is a user / name -->
  <i class="fa fa-chevron-right"></i> <%= f.button :submit %>
 <% end %>

</div>


<h1 class='text-center'>JS test for dropdown icons</h1>

<%= javascript_pack_tag 'icons' %>
<!-- <li><i class="fa fa-check fa-li"></i> Bulleted list item</li> -->
