
<div class="container d-flex flex-column">
    <h2 class="my-0"><i id="title-icon" class="fa fa-<%= @goal.icon %>"></i></h2>

    <h5 class="d-flex justify-content-center mt-1 m-0"><%= @goal.user.firstname %>'s goal</h5>

<% if policy(@goal).view? %>

  <div class="d-flex justify-content-center">
    <h2 class="my-0 mt-3 mb-3"><%= @goal.title %></h2>

  </div>
  <div class="container mb-1"><h6 class="text-muted" style="text-align: center;"><%= @goal.description %></h6></div>


  <div class="container d-flex justify-content-center">
    <p class="my-0 mr-3"> <%= @goal.status %> </p>

    <% if policy(@goal).edit? %>
      <a id="edit-icon" href="blank" data-toggle="modal" data-target="#goal-edit" >
        <i class="fas fa-edit"></i>
      </a>
    <% end %>

  </div>
  <div class="px-3">
    <div class="progress my-2">
      <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow=<%=@goal.progress%> aria-valuemin="0" aria-valuemax="100" style="width:<%=@goal.progress%>%"></div>
    </div>

    <div id="goal-buddies" style="text-align:center;">
    <% buddies = @goal.get_goal_buddies(@goal.user)[:goal_buddies] %>
    <% requested = @goal.get_goal_buddies(@goal.user)[:requested] %>
    <% if buddies.empty? && requested.empty? %>
        <p>No one to keep me accountable yet!</p>
        <%= render partial: "shared/add_buddy", locals: {goal: @goal, goal_connection: @goal_connection} %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#add_buddy" >
          Add one now!
        </button>

    <% else %>
      <% if buddies.length == 1 %>
        <% if @goal.buddies[0] == current_user %>
        <p class="mb-0">You're <%= @goal.user.firstname %>'s buddy,
          <%  else %>
        <p class="mb-0">Buddy on this goal :
          <% end %>
      <% elsif buddies.length > 1 %>
        <p class="mb-0">Buddies on this goal :
      <% end %>

  <% end %>

        <% buddies.each do |buddy| %>
          <%= buddy.firstname %>
        <% end %>
      </p>

      <% if requested.length >= 1 %>
        <p>Buddies requested:
        <% requested.each do |req| %>
          <%= req.firstname %>
        <% end %>
        </p>
      <% end %>


  <% if policy(@goal).edit? %>

      </div>

        <%= render partial: "shared/edit_buddies", locals: {goal: @goal, goal_connection: @goal_connection} %>
    <% end %>


     <div class="container p-0">
    <!--Navigation links with a Smooth Scroll effect-->
    <ul class="smooth-scroll list-unstyled list-inline d-flex justify-content-center mb-1">

    <% if policy(@goal).edit? %>
      <li class="list-inline-item">
      <a href="blank" data-toggle="modal" data-target="#edit_buddies" >
          <i class="fas fa-pencil-alt"></i>
      </a>
    <% end %>
      </li>
      <li class="list-inline-item"><h5><a href="#test1" class="text-decoration-none"><i class="far fa-comments"></i></a></h5></li>
    </ul>

    </div>
  </div>
<%# ############# %>
</div>

  <% if policy(@goal).show? %>
  <%# Modal for editing the goal specifically %>

  <%= render partial: "shared/goal_edit", locals: {goal: @goal} %>
  <% end %>

  <div class="container d-flex flex-column" id="text2"><%= render 'shared/goalcards' %></div>



</br>



<%# Chatroom for the goal %>
<div class="container mb-3" id="test1">
  <div class="container d-flex"><h2 class="font-weight-bold"> Chat </h2></div>
  <div class="overflow-auto chatroom-size rounded-lg" id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% if @chatroom.messages.size < 5 %>
    <div class="notification">
      <%= cl_image_tag("spotme_logo_phgj7v.svg", class: "avatar-large") %>
      <div class="notification-content">
        <div class="message-container">
          <i class="author">
            <span>Spotme Bot</span>
            <small><%= @chatroom.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p class="text-justify"><br>As a member of a Spotme, <br>you'll be able to send messages buddies and connections in the goal to achieve what we've declared. 
          <br><br>When you download the Spotme desktop and mobile apps, you can receive notifications on all your devices and stay in sync when you’re on the move. 
          <br><br>Whatever you do on one device is reflected everywhere — Spotme apps keep your place, letting you pick up conversations wherever you left off.
          <br><br>When you join a goalpage, we’ll guide you through the process of setting up your account. We’ll ask you to enter your full name and a password so you can sign in and out with ease.
          <br><br>Send something &nbsp;<i class="fa fa-caret-down pt-1" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
    <%# options %>
    <% end %>
    <% @chatroom.messages.each do |message| %>
    <div class="notification" id="message-<%= message.id %>">
    <%# INSERT AVATAR HERE %>
    <% if message.user.avatar %>
    <%= image_tag message.user.avatar, class: "avatar-large" %>
    <% else %>
    <%= cl_image_tag("spotme_logo_phgj7v.svg", class: "avatar-large") %>
    <% end %>
    <div class="notification-content">
      <div class="message-container" >
        <i class="author">
          <span><%= message.user.firstname %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    </div>
    </div>
    <% end %>
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <div class="d-flex align-items-start">
    <div class= "flex-grow-1"><%= f.input :content, label: false, placeholder: "What's on your mind?" %></div>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %><i class="fa fa-paper-plane" aria-hidden="true"></i><% end %>
    </div>
  <% end %>

  </div>

<% else %>
<br><br>
<p class="d-flex justify-content-center text-center mt-1 m-0"> Oh shoot! You're not <%= @goal.user.firstname %>'s buddy on this goal. Goals can be quite personal, so we'd rather not show you anything else for now.</p>


<% end %>


<%# LOGIC GATES HERE %>
<% if @user.nil? %>


  <!-- Development use only: Button trigger modal -->
  <%# <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
  </button> %>


  <!-- Modal -->
  <div class="modal fade notauser" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="staticBackdropLabel">Welcome to SpotMe!</h5>
          <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> %>
        </div>
        <div class="modal-body">
        <% path = request.original_fullpath() %>
        <% goal_id = path.split('/')[-1] %>
        <% goal = Goal.find(goal_id) %>

        <br><br><br><br><br><br><br><br><br>
        <h6 style="text-align: center;">To become a buddy on <%= goal.owner.firstname %>'s goal to</h6>
        <h6 style="text-align: center;"><%= goal.title.downcase %>,</h6>
        <h6 style="text-align: center;">please register or sign in!</h6>
        <br><br><br><br><br><br><br><br><br>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <%= link_to :back do %>
            <button type="button" class="btn btn-link">Go back</button>
          <% end %>

          <%= link_to new_user_registration_path(contact: @user) do %>
            <button type="button" class="btn btn-primary">Register</button>
          <% end %>

          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-secondary mx-3">Sign In</button>
          <% end %>

          <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Home</button> %>
          <%# <button type="button" class="btn btn-primary">Understood</button> %>
        </div>
      </div>
    </div>
  </div>

<% end %>


