<!DOCTYPE html>
<html>
  <head>
    <title>SpotMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container d-flex pt-80 mw-100 mh-100">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'share/bottom_nav' %>

  </body>
</html>
